<%= form_with url: imei_checks_path, method: :post, local: true do %>
  <%= label_tag :imei, "IMEI入力" %>
  <%= text_field_tag :imei %>
  <%= submit_tag "チェック" %>
<% end %>

<h2>判定結果</h2>
<% if @results.present? %>
  <% @results.each do |carrier, result| %>
    <% if result.present? %>
      <p><%= carrier.to_s.capitalize %>：<strong><%= result %></strong></p>
    <% end %>
  <% end %>
<% end %>
